<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"   "http://www.w3.org/TR/html4/loose.dtd"><html>
    <head>
        <title>Template</title>
        <link rel="stylesheet" type="text/css" href="../../../../include/css/system.css" />
    </head>
    <body>
        <link href="<%= AucklandMuseum.ImageHandler.Instance.ProxyURL("https://www.aucklandmuseum.com/CMSPages/GetCSS.aspx?stylesheetname=DynamicFooter") %>" rel="stylesheet">
<script src="<%= AucklandMuseum.ImageHandler.Instance.ProxyURL("https://www.aucklandmuseum.com/CMSPages/GetResource.ashx?scriptfile=~/CMSScripts/Custom/DynamicFooter/reactscripts.js") %>"></script>
<script src="<%= AucklandMuseum.ImageHandler.Instance.ProxyURL("https://www.aucklandmuseum.com/CMSPages/GetResource.ashx?scriptfile=~/CMSScripts/Custom/DynamicFooter/2.chunk.js") %>"></script>
<script src="<%= AucklandMuseum.ImageHandler.Instance.ProxyURL("https://www.aucklandmuseum.com/CMSPages/GetResource.ashx?scriptfile=~/CMSScripts/Custom/DynamicFooter/main.chunk.js") %>"></script>
    </body>
</html>
