/* AKM FONTS */
  
  @font-face {
    font-family: 'Gotham Narrow Bold';
    font-weight: 900;
    src: url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/GothamNarrow-Bold.woff") format("woff");
  }

  @font-face {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 200;
    src: url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/GothamNarrow-Light.woff") format("woff"); 
}
  
  @font-face {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 400;
    src:  url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/GothamNarrow-Book.woff") format("woff"); 
}
  
  @font-face {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 600;
    src: url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/GothamNarrow-Medium.woff") format("woff");
 }


/* AKM CUSTOM START */


/* AKM HEADER CSS */

.page {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1635px !important;
    width: 100%;
}
@media screen and (max-device-width: 1628px) {
    .page {
        max-width: 1355px !important;
   }
}

.page {
    display: block;
    height: 100%;
}
@media screen and (min-device-width: 800px) {
    .page {
        display: flex;
        flex-wrap: nowrap;
   }
}
.page .left, .page .right {
    align-self: center;
}

.header {
    background-color: #000;
    margin-top: 0;
}
.header * {
    box-sizing: border-box;
}
.header img {
    display: block;
    width: 100%;
}

.header a:visited {
    color: #fff;
}

.header a:hover {
    text-decoration: none !important;
}

.header--standard {
    box-shadow: 0px 7px 9px grey;
    margin-bottom: 20px;
}

@media screen and (max-device-width: 799px) {
    .header--standard {
        box-shadow: 0px 7px 18px grey;
    }
}

@media screen and (min-device-width: 1024px) {
    .header--standard {
        flex: 1 1 100%;
   }
}

.header-nav-logo__link {
    background-color: #000;
    display: block;
    margin-bottom: -4px;
    position: relative;
    width: 170px;
    z-index: 4000;
}

.header-nav-logo__link:before, .header-nav-logo__link:after {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 5px;
    left: -1px;
    position: absolute;
    width: 3px;
}



.main-subnav {
    background-color: #222;
    display: none;
    overflow: hidden;
    width: 100%;
}
@media screen and (min-device-width: 800px) {
    .main-subnav {
        background: linear-gradient(to right, #333 50%, #222 50%, #333 50%);
        border-top: 6px solid #fff;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.5);
        left: 0;
        position: absolute;
        top: 100%;
        z-index: 2;
   }
}
@media screen and (min-device-width: 1024px) {
    .main-nav__item.hover .main-subnav {
        display: block;
   }
}

.main-nav__item {
    margin-bottom: -15px;
    margin-top: 30px;
    max-width: none;
}
@media screen and (min-device-width: 1045px) {
    .main-nav__item {
        padding-bottom: 11px;
        padding-right: 35px;
   }
}

@media screen and (min-device-width: 800px) {
    .main-nav__item {
        border-bottom: 6px solid transparent;
        padding-bottom: 8px;
        white-space: nowrap;
   }
    .main-nav__item:hover {
        border-bottom: 6px solid #fff;
   }
}
@media screen and (min-device-width: 800px) {
    .header--standard .main-nav__item.is-homelink {
        display: none;
   }
}
@media screen and (min-device-width: 800px) {
    .main-nav__item:last-child {
        flex-basis: 0;
   }
}
@media screen and (min-device-width: 1280px) {
    .main-nav__item:last-child {
        -ms-flex-preferred-size: 180px !important;
        flex-basis: 0;
   }
}

.main-nav--modular {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
@media screen and (max-device-width: 799px) {
    .main-nav--modular {
        -webkit-overflow-scrolling: touch;
        background-color: #000;
        border-top: 2px solid #fff;
        bottom: 0;
        height: calc(100vh - 50px);
        overflow-y: scroll;
        position: fixed;
        top: 128px;
        transform: translateX(100%);
        transition: transform 250ms;
        z-index: 9999;
   }
    .mobile-nav-open .main-nav--modular {
        transform: translateX(0) !important;
   }
}
@media screen and (min-device-width: 800px) {
    .main-nav--modular {
        display: flex;
        margin-top: 16px;
   }
}
@media screen and (max-device-width: 1024px) {
    .main-nav--modular-top {
        padding-bottom: 0 !important;
   }
}
@media screen and (max-device-width: 1024px) and (min-device-width: 800px) {
    .main-nav--modular-bottom {
        padding-bottom: 0 !important;
   }
}
.main-nav-item__wrapper {
    position: relative;
}
@media screen and (min-device-width: 800px) {
    .main-nav-item__wrapper {
        height: 100%;
   }
}

@media screen and (min-device-width: 800px) {
    .main-nav__item {
        border-bottom: 6px solid transparent;
        padding-bottom: 8px;
        white-space: nowrap;
   }
    .main-nav__item:hover {
        border-bottom: 6px solid #fff;
   }
}
@media screen and (min-device-width: 800px) {
    .header--standard .main-nav__item.is-homelink {
        display: none;
   }
}

@media screen and (min-device-width: 800px) {
    li.main-nav__item.is-homelink {
        margin-top: 1.7em;
   }
}
.main-nav__item--standard {
    padding-right: 3%;
}
@media screen and (max-device-width: 865px) and (min-device-width: 800px) {
    .main-nav__item--standard {
        padding-right: 0;
   }
}

@media screen and (max-device-width: 799px) {
    .main-nav__item--standard {
        border-bottom: 5px solid #222;
   }
}


.main-nav__link, .main-nav__label {
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    padding: 20px;
    text-decoration: none;
    width: 100%;
}
.main-nav__link .lang-maori, .main-nav__label .lang-maori {
    display: block;
    font-family: 'Gotham Narrow';
    font-weight: 200;
    color: #ffffff;
}

a.main-nav__link {
    padding-left: 6px;
    color: #ffffff;
}

.main-nav__label {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-border-radius:0px;
    color: #fff;
    font-family: inherit;
    line-height: 1.4;
    position: relative;
    text-align: left;
}
.main-nav__label:focus {
    outline: 0 none;
}
@media screen and (max-device-width: 799px) {
    .main-nav__label {
        padding-right: 60px;
   }
    .main-nav__label:after {
        display: none;
   }
    
}

@media screen and (min-device-width: 800px) {
    .main-nav__link, .main-nav__label {
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 20px 20px 0;
   }
}
@media screen and(max-device-width: 1000px) {
    .main-nav__link, .main-nav__label {
        font-size: 100%;
        padding: 20px 1.2em 0 !important;
   }
}


.sub-nav-top {
    top: 113%;
}

.main-subnav__wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
@media screen and (max-device-width: 799px) {
    .main-subnav__wrapper {
        flex-direction: column-reverse;
   }
}
.main-subnav__list {
    list-style-type: none;
    margin: 0;
    padding: 16px;
}
@media screen and(min-device-width: 800px) {
    .main-subnav__list {
        min-width: 230px;
        padding: 50px;
        padding-left: 20px;
        width: 230px;
   }
}
@media screen and (min-device-width: 800px) {
    .main-subnav__list {
        padding-bottom: 70px;
        padding-left: 0;
        padding-right: 70px;
        padding-top: 70px;
   }
}


.header-top__wrapper {
    height: 100%;
  }
  

.header__nav {
    display: -webkit-flex;
}

.header-nav__logo {
    -webkit-align-self: flex-end;
}

.header__top {
    box-sizing: border-box;
    height: 50px;
    position: relative;
}
@media screen and (min-device-width: 800px) {
    .header__top {
        height: 100%;
   }
}
.header-top__wrapper {
    height: 100%;
}
.header__nav {
    display: flex;
    height: 100%;
    width: 100%;
}


.cta-nav__container {
    max-width: 1444px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

@media screen and (min-device-width: 800px) {
    .cta-nav__container {
        display: block !important;
    }
}

@media screen and (max-device-width: 1628px) {
    .cta-nav__container {
        max-width: 1340px !important;
    }
}

@media screen and (max-device-width: 1370px) and (min-device-width: 800px) {
    .cta-nav__container {
        max-width: 1290px !important;
    }
}

@media screen and (max-device-width: 1280px) {
    .cta-nav__container {
        max-width: none;
        right: 0;
    }
}

@media screen and (max-device-width: 799px) {
    .cta-nav__container {
        display: none;
        top: 131px;
        position: absolute;
        z-index: 10000;
    }
}

.cta-nav {
    width: 100%;
}

.cta-nav__item {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    float: right;
    list-style: none;
    margin-right: 11px;
    margin-top: -1px;
    margin-bottom: 0;
    font-size: 100%;
}

@media screen and (max-device-width: 800px) {
    .cta-nav__item {
        float: none;
        font-size: 100%;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        padding: 0px;
    }
}

.cta-nav__link {
    background: none;
    border-color: rgba(255, 255, 255, 0.50);
    border-style: solid;
    border-width: 0px;
    border-left: none;
    color: #fff;
    font-family: 'Gotham Narrow';
    font-weight: 600;
    font-weight: bold;
    padding: 4px 19px;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
    font-size: 16px !important;
    line-height: 1.5em;
    text-transform: uppercase;
}

@media screen and (max-device-width: 800px) {
    .cta-nav__link {
        height: 137px;
        width: 100%;
        font-size: 40px !important;
    }
}

@media screen and (max-device-width: 800px) {
    .cta-nav__label {
        /* max-width: 266px; */
        width: 100%;
    }
}

@media screen and (max-device-width: 799px) {
    .main-nav--modular {
        display: none;
    }
}

@media screen and (max-device-width: 800px) {
    .main-nav--modular {
        position: absolute;
    }
}

.main-nav--modular {
    display: -moz-flex;
}

@media screen and (min-device-width: 799px) {
    .main-nav--modular {
        display: -webkit-flex;
    }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 800px) {
    .main-nav--modular {
        padding-bottom: 0px;
    }
}

@media screen and (max-device-width: 799px) {
    li.main-nav__item.is-homelink {
        margin-top: 175px;
        color: #fff;
        border-bottom: 5px solid #222;
    }
}

main-nav__link,
main-nav__link a,
main-nav__link a:hover,
main-nav__link a:visited,
main-nav__link a:focus,
main-nav__link a:active {
    color: white !important;
    text-decoration: none !important;
}

button.button-subnav.main-nav__label.main-nav__label-tnew a {
    color: #fff !important;
    font-weight: bold;
}

@media screen and (min-width: 1070px) {
    .main-nav__label-tnew {
        padding: 60px 40px 0 !important;
    }
}

@media screen and (min-device-width: 800px) {
    .main-nav__label-tnew {
        padding: 60px 40px 0 15px !important;
    }
}

@media screen and (max-device-width: 800px) {
    .header__nav {
        border-bottom: 6px solid #fff;
    }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 800px) {
    .main-nav__link, .main-nav__label {
        height: 101%;
    }
}

@media screen and (min-device-width: 1070px) {
    .main-nav__label-tnew {
        padding: 60px 40px 0 !important;
    }
}

@media screen and (min-device-width: 800px) {
    .main-nav__label-tnew {
        padding: 60px 40px 0 15px !important;
    }
}

.main-nav__item-tnew {
    white-space: nowrap;
}

@media screen and (max-device-width: 800px) {
    .main-nav__item-tnew {
        border-bottom: 5px solid #222;
    }
}

@media screen and (min-device-width: 800px) {
    .header__top-tnew {
        height: 144px;
    }
}

@media screen and (max-device-width: 800px) {
    .header__top-tnew {
        height: 130px;
    }
}

@media screen and (min-device-width: 800px) {
    .header--standard .header__middle {
        border-bottom: 6px solid #fff;
        height: 21px;
    }
}

.page--xl-tnew {
    max-width: 100% !important;
}

.header-middle__wrapper {
    border: none;
}

li.cta-nav__label {
    margin-bottom: 0;
    padding-bottom: 0;
}
.cta-nav__label {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    border-left-width: 0;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
}
.cta-nav__label:first-child {
    border-left-width: 1px;
}
@media screen and (max-device-width: 800px) {
    .cta-nav__label {
        width: 100%;
        border-right-width: 3px;
        border-bottom-width: 3px;
   }
}


/* mobile nav */

@media screen and (max-device-width: 800px) {
    .main-nav__link, .main-nav__label {
        font-size: 40px;
   }
}

@media screen and (max-device-width: 500px) {
    .main-nav__link, .main-nav__label {
        font-size: 45px;
        padding: 45px 1.2em 0 !important;
   }
}


.mobile-nav-open {
    transform: translateX(0);
    padding-top: 0px;
}

@media screen and (max-device-width: 800px) {
    .mobile-nav-open .header__top {
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 400;
   }
}

@media screen and (max-device-width: 799px) {
    .header img {
        width: 170px;
    }
}

.header-nav__logo {
    align-self: flex-end;
    z-index: 9999;
}
@media screen and (max-device-width: 799px) {
    .header-nav__logo {
        width: 100%;
   }
}
@media screen and (max-device-width: 1023px) {
    .header-nav__logo {
        margin-left: 40px;
   }
}
@media screen and (min-device-width: 1024px) {
    .header-nav__logo {
        margin-left: 40px;
        margin-right: 25px;
   }
}
@media screen and (min-device--width: 800px) {
    .header--home .header-nav__logo {
        display: none;
   }
}

.header-nav-logo__link:before, .header-nav-logo__link:after {
    background-color: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: -1px;
    position: absolute;
    width: 3px;
}
.header-nav-logo__link:before {
    left: auto;
    right: -1px;
}
@media screen and (min-device-width: 800px) {
    .header-nav-logo__link {
        margin-bottom: -21px;
        width: 139px;
   }
    .header-nav-logo__link:before, .header-nav-logo__link:after {
        height: 6px;
        width: 6px;
   }
}

.mobile-nav {
    align-self: center;
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    min-width: 50px;
}
.mobile-nav:focus {
    outline: 0 none;
}
.mobile-nav img {
    margin: 0 auto;
    width: 62px;
    margin-right: 30px;
    margin-top: 35px;
}
@media screen and (min-device-width: 800px) {
    .mobile-nav {
        display: none;
   }
}
.mobile-nav--close {
    background-color: #000;
}
.main-nav--modular {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


@media screen and (min-device-width: 800px) {
    .main-nav--modular {
        display: flex;
        margin-top: 16px;
   }
}

/* MOBILE FOOTER */

@media screen and (max-device-width: 1024px) {
.DynamicFooterApp .am-footer__links-content {
    max-height: none !important;
    }
}

@media screen and (max-device-width: 400px) {
.DynamicFooterApp .am-footer {
    font-size: 21px !important;
    }
}
/* AKM Menu end*/
html,body {
    font-family: "Gotham Narrow" !important;
}

label, input, select, textarea {
    font-size: 1.5em;
    font-family: "Gotham Narrow" !important;
}

input, select, textarea {
    padding: 0.5rem;
}

.riTextBox, .ruFileInput, .reContentArea {
    font-size: 1.5em !important;
    font-family: "Gotham Narrow" !important;
    padding: 0.5rem;
}


#reftform {
    max-width: 1280px;
    margin: auto;
}

.lbdiv {
    border-width: 0px;
    vertical-align: central;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Gotham Narrow" !important;
}

*.rqformline {
    margin-top: 0px;
    margin-bottom: 24px;
    padding-bottom: 0px;
    padding-top: 0px;
}

*.rtcltxt {
    font-size: 1rem;
    color: black;
    letter-spacing: 0.4px;
    line-height: 1.6;
}
.sublb {
    display: block;
    margin-top: 2px;
    padding-left: 1rem;
}

div.RadUploadSubmit, div.RadUpload_RefTracker .ruBrowse {
    color: #fff;
    background-color: rgba(00,00,00, 0.75) !important;
    border: 1px solid #4354C4 !important;
    border-radius: 2px;
    height: 24px;
    padding: 5px;
}

*.rtBtnInputPrm {
    font-size: 21px;
    font-weight: bold;
    /* border-radius: 2px; */
    height: auto;
    border: 1px solid;
    font-family: Arial,"Microsoft Sans Serif" !important;
    border-color: rgba(67,84,196,1);
    background-color: rgba(0,0,0,0.75);
    color: #FFFFFF;
    margin-left: 1px;
    margin-right: 1px;
    min-width: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
}

*.rqformdvstd {
    border: 1px solid;
    border-color: #E0E0E0;
    font-size: 1em;
    border-radius: 0;
    margin-bottom: 15px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: static;
    border-collapse: collapse;
    background-color: #FFFFFF;
}
*.prhead {
    margin-bottom: 0px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* outline: 0; */
    /* border-top-width: 1px; */
    border-top-color: transparent;
    border-top-style: solid;
    background-color: #eeeeee;
    margin-bottom: 15px;
}
/* AKM CUSTOM END */

