/* AKM fonts */

@font-face {
    font-family: 'Gotham Narrow Medium';
    font-weight: 900;
    src: url("https://www.aucklandmuseum.com/Client/CSS/AucklandMuseum/fonts/GothamNarrow-Medium.woff2") format("woff");
  }

img {
    border: 0
}

form {
    border-right: 0;
    border-top: 0;
    margin: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 0;
}

input, select, textarea {
    font-size: 1em;
    font-family: 'Segoe UI';
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html, body {
    margin: 0;
    padding: 0;
    color: #333333; /*reftcss|misc|Default text colour|IxAqZ4QA02TBx0DT*/
    background-color: #FFFFFF; /*reftcss|misc|Default background colour|ZdbzqDMbk2SCqBUz*/
    font-family: "Gotham Narrow Medium";
}

fieldset {

    border-width:0px !important;
    padding:0px !important;
    margin:0px !important;

}
/* This is the ID of the main division in each reftracker page which contains all other HTML controls */
#pgobman {
    padding-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0;
}

/* This is the message area which is added to each page */
#pgobmga {
    margin-top: 0px;
}
/* menuctrls area contains the icon controls in the main menu */
/* Deskstats, Help, Home, Logoff etc */

.menuctrls {
    display: inline;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

    .menuctrls img {
        vertical-align: baseline !important;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 3px;
        margin-right: 3px;
    }

    /* Start:menuctrls: Sets the background colour when a control is hovered over */

    .menuctrls span :hover {
        background-color: rgba(0,0,1,0.1); /*reftcss|menu|Main menu icons - background hover|VNANNoEyaP4VODRb*/
        display: inline-block;
        border-radius: 5px;
    }

    .menuctrls span {
        border: 1px solid transparent;
        display: inline-block;
        border-radius: 5px;
    }

.menuctrlsleft {
    display: inline;
    float: left;
}

    .menuctrlsleft img {
        vertical-align: baseline !important;
    }

/* This is the deskstats tooltip menu */
#RadToolTipWrapper_uicidsmntt .rtWrapper {
    border: 1px solid #E0E0E0 !important;
    background-color: #F5F5F5 !important;
}


#RadToolTipWrapper_uicidsmntt .rtWrapperContent {
    background-color: #F5F5F5 !important;
}
#RadToolTipWrapper_uicidsmntt .rtWrapperLeftMiddle,
#RadToolTipWrapper_uicidsmntt .rtWrapperContent,
#RadToolTipWrapper_uicidsmntt .rtWrapperRightMiddle,
#RadToolTipWrapper_uicidsmntt .rtWrapperTopLeft,
#RadToolTipWrapper_uicidsmntt .rtWrapperTopCenter,
#RadToolTipWrapper_uicidsmntt .rtWrapperTopRight,
#RadToolTipWrapper_uicidsmntt .rtWrapperBottomCenter,
#RadToolTipWrapper_uicidsmntt .rtWrapperBottomLeft,
#RadToolTipWrapper_uicidsmntt .rtWrapperBottomRight {
    background-color: #F5F5F5 !important;
}



/* End:menuctrls: Sets the background colour when a control is hovered over */
/* Start:menuPanel: List of anchor links displayed as menu, eg reft900 system */

.menuPanel {
    width: 30%;
    margin-left: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menuPanelTitle {
    margin-bottom: 5px;
}

    .menuPanelTitle a {
        text-decoration: none;
    }

    .menuPanelTitle span {
        font-size: 1.05em !important;
        color: #555555 !important; /*reftcss|menu|Menu panel title text colour|Au4Jlnyku3guPIC9*/
        text-decoration: none !important;
        font-weight: bold;
    }

.menuPanelItems {
}

    .menuPanelItems span {
        display: block !important;
        margin-bottom: 2px;
        margin-left: 1px;
    }

/* End:menuPanel: List of anchor links displayed as menu, eg reft900 system */
/* Start:controlLine: Contains the controls added to the page under the action bar */
/* For example parameter DDL in reft910 */

.controlLineWrapper {
    background-color: #F5F5F5; /*reftcss|menu|Control line background colour|yIncjC40OuuarDyZ*/
    width: 100%;
}


.controlLine {
    height: 22px;
    vertical-align: middle;
    padding-top: 5px;
    margin-bottom: 8px;
}





    .controlLine .lyodiv {
    }

.controlLineRight {
    text-align: right;
    float: right;
    padding-right: 5px;
    width: 100%;
}

.controlLineLeft {
    vertical-align: middle;
    padding-left: 5px;
    width: 100%;
}

 .controlLineLeft .rtsflnkstd {
        margin-right: 8px;
        margin-left: 0px !important;
    }

.controlLineLabel {
    margin-right: 4px;
    margin-left: 10px;
}

.controlLineCtrl {
    margin-right: 2px;
}

.controlLinePair {
    display: inline;
    vertical-align: middle;
}

    .controlLinePair .controlLineLabel {
        margin-right: 3px !important;
    }


.clplain {
    background-color: transparent !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}

/* End:controlLine: Contains the controls added to the page under the action bar */
/* Start: timer controls -used for control which allows uses to start and stop timer */

.timerControl input {
    margin-right: 4px;
    margin-bottom: 2px;
}

.timerImage {
    display: inline-block;
}

    .timerImage img {
        padding: 2px;
        margin-bottom: -2px;
    }

    .timerImage :hover {
        background-color: rgba(67,84,196,0.3); /*reftcss|misc|Timer image background colour hover|yzJOlbi2UGE0jvuq*/
    }

/* End: timer controls -used for control which allows uses to start and stop timer */
/* START: File upload area styles */

*.uploadTable {
    width: 100%;
}

    *.uploadTable td {
        vertical-align: top;
    }

*.uploadArea {
    background-color: #F5F5F5; /*reftcss|attachment|File upload area background colour|vfXuidFx6UOS8w8s*/
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

*.fileUpload {
    width: 98% !important;
    margin-top: 10px;
    margin-right: 10px;
}

*.fileUploadWindow {
    margin-left: 10px;
}

*.fileUploadForm {
    margin-left:10px;
}

*.fileUploadPresenter {
    margin-left: 10px;
}

*.fileDropArea {
    border: 1px solid transparent;
    background-color: rgba(238,238,238,0.5); /*reftcss|attachment|File drop area background colour|RcTzKX4g30y2Mmr2*/
    border-radius: 10px;
    height: 90px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



*.fileDropAreaHover {
    border: 1px solid;
    border-color: #C11C28 !important; /*reftcss|attachment|File drop zone border colour hover|qWbwYm8EKnJI8zxv*/
}

    *.fileDropAreaHover span {
        color: #C11C28 !important; /*reftcss|attachment|File drop zone text colour hover|jzddn0pEyPkTEe0Y*/
    }

*.fileDropTitle {
    display: block;
    font-size: 1.3em;
    line-height: 40px;
    color: #555555; /*reftcss|attachment|File drop title text colour|wFuRkBekabKVqbAp*/
}

*.fileDropText {
    color: #555555; /*reftcss|attachment|File drop text colour|eD6AaPB0KIzhCiNE*/
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal !important;
}



*.attText {
    font-weight: normal !important;
    font-size: 0.95em !important;
    color: #C11C28 !important; /*reftcss|attachment|Attachment file name text colour|6wvRl36BUSXSpwSN*/
    text-decoration: none !important;
}

*.attLink A {
    font-weight: normal !important;
    font-size: 0.95em !important;
    color: #C11C28 !important; /*reftcss|attachment|Attachment file name link text colour|lqzlgBsrUed12Iad*/
    text-decoration: none !important;
}

    *.attLink A:hover {
        text-decoration: underline !important;
    }

/* END: File upload area styles */
/* START Statistics */

*.statAverage {
    color: #C11C28 !important; /*reftcss|misc|Statistics average text colour|94G2flyvEGdTi9tr*/
    font-style: italic;
}

*.statScore {
    font-weight: bold;
    color: #C11C28 !important; /*reftcss|misc|Statistics score text colour|35AxwoFJEaY4wUKb*/
}

*.statPercent {
    font-style: italic;
}

*.statTotal {
    font-weight: bold;
}


/* End Statistics */

/* START Staff */

*.rtsflab {
    font-weight: bold;
    color: #333333; /*reftcss|staff|Field label text colour|4CiqjU0OchhNHj7I*/
}

*.rtsftxt {
    color: #333333; /*reftcss|staff|Text colour|fnpdZK0Wxicz2CDC*/
    font-weight: normal;
    font-size: 1em !important;
    font-family: 'Segoe UI';
}

/* Staff Small text */
/* eg - used where smaller text is required - eg attribution line under question notes */

*.rtsfsm {
    font-size: 0.9em !important;
    font-family: 'Segoe UI';
}

*.rtsflnkstd A {
    font-size: 0.97em !important;
    color: #4354C4 !important; /*reftcss|staff|Standard link text colour|6fCgM5kW0yawwoFA*/
    text-decoration: none !important;
}

    *.rtsflnkstd A:hover {
        text-decoration: underline !important;
        color: #4354C4 !important; /*reftcss|staff|Standard link text colour hover|ef4jdfuzqUhAuVFN*/
    }

/* staff large (emphasised) hyperlinks */

*.rtsflnkemp A {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #4354C4; /*reftcss|staff|Emphasised link text colour|yb09GJ9whE2LEXta*/
    text-decoration: none;
}

    *.rtsflnkemp A:hover {
        font-weight: bold;
        color: #4354C4; /*reftcss|staff|Emphasised link text colour hover|PLT2j56KqEixKycM*/
        text-decoration: underline;
    }


/* revstat style used for review status active links */
*.revstat {
    font-style: italic !important;
}

/* closedstat style used for close and reject status */
*.closestat {
    font-style: italic !important;
}

/* Client side text                                                           */

*.rtcltxt {
    font-size: 0.97em;
    color: #333333; /*reftcss|client|Text colour|aVWWfFUaVQAYH7IT*/
}

*.rtcllab {
    font-weight: bold;
    color: #333333; /*reftcss|client|Field label text colour|RHb1xfES2GuQXd0Q*/
}

*.welcome {
    color: #ffffff; /*reftcss|client|Welcome message text colour|QJHgx0l6b4sHFWAA*/
    background-color: #000001; /*reftcss|client|Welcome message background colour|QJHgxlg53sqHFWAA*/
}

/* small */

*.rtclsm {
    font-size: 0.9em;
}

*.rtcllnkemp A {
    font-weight: bold;
    color: #4354C4; /*reftcss|client|Emphasised link text colour|LzD29AkeStMYSCVg*/
    text-decoration: underline;
}

    *.rtcllnkemp A:hover {
        color: #555555; /*reftcss|client|Emphasised link text colour hover|StImE0Ua0mQFAOFU*/
        text-decoration: underline;
    }


*.rtcllnkstd A {
    font-weight: normal;
    font-size: 0.97em;
    color: #4354C4; /*reftcss|client|Standard link text colour|ftYuuMqf02d1qGiY*/
    text-decoration: none;
}

    *.rtcllnkstd A:hover {
        color: #555555; /*reftcss|client|Standard link hover|KVX96fz7E6RER4Ix*/
        text-decoration: underline;
    }


*.evaluation A {
    font-size: 12px;
    color: #FF9933; /*reftcss|client|Evaluation link for stars |1cueGqlMUWioK6IT*/
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    *.evaluation A:hover {
        text-decoration: underline;
    }


/* START: request form */

.sublb {
    display:block;
    margin-top:2px;
}

#pgobmga h2{

    font: inherit !important;
    outline:none;
}

*.rqform {
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: auto;
    background-color: #FFFFFF; /*reftcss|reqform|Request form background colour|AbSCPszqUaC25YgD*/
}

*.rqformdvstd {
    font-size: 1em;
    border-radius: 6px;
    margin-bottom: 15px;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    position: static;
    border-collapse: collapse;
    background-color: #FFFFFF; /*reftcss|reqform|Request form division background colour|qMKxiJI0CJJUkYN8*/
}


*.rqformdvemp {
    background-color: rgba(238,238,238,0.4) !important; /*reftcss|reqform|Request form division emphasised background colour|xfJmxbBUGyYGBy5c*/
}


*.lbtxt {
    /*font-weight: normal;*/
    font-size: 1.1em;
    display: inline;
}
*.lbdiv {
    border-width: 0px;
    vertical-align: central;
    font-size:1.3em;
    font-weight:bold;
    margin-bottom: 3px;
    font-family:Verdana;
}
.lbdiv h2 {
    font-size: 1em !important;
    padding:0px !important;
    padding-bottom:3px !important;


}
.lbdiv h2 input{
    white-space:normal;
    text-align:left;
}
/*.lbdiv*/
h2 input{

    /* Used to remove class button styling for presenter div heading */
    background-color: transparent !important;
    color: inherit !important;
    border-width: 0px !important;
    padding:0px !important;
    font-weight:bold;
    font-family:inherit !important;


}
*.lbstandard {
    background-color:transparent;
    color: #333333; /*reftcss|reqform|Division label standard text colour|V5s6yfTkSsb0MEA0*/
}
*.lbshover {
    background-color:  transparent;
    text-decoration:underline;
}

    *.lbshover input {
        text-decoration: underline;
    }
/* Used for divisions in request forms which are added at run-time - eg 'other' fields */
*.lbspecial {
    background-color: transparent;
    color: #555555; /*reftcss|reqform|Division label sepcial text colour|xBHtGKvEKNxrZpqH*/
}
*.lberror {
    background-color: transparent;
    color: #C11C28; /*reftcss|reqform|Division label error text colour|AGeUhj7ki9zRbwqu*/
}

/* lbp: plain label - used in deskstats */

*.lbplain {
    font-weight: normal;
    font-size: 1em !important;
    color: #333333; /*reftcss|reqform|Division label plain (deskstats) text colour|cKbA3FeUambqGOKB*/
    text-align: left;
}

*.copyhl {
    color: #C11C28; /*reftcss|reqform|Copy instruction sub label text colour|4t6PdLREa3IAikp6*/
}

*.errLabel {
    border-bottom: #C11C28 1px dashed; /*reftcss|reqform|Label border colour for fields with error|mQC5EyVUKuZptIb7*/
}

*.wrnLabel {
    border-bottom: #555555 1px dashed; /*reftcss|reqform|Label border colour for fields with warning|uZhLYREu7sQ3kAMr*/
}

.flag {
    border-left: 4px solid #C11C28; /*reftcss|reqform|Left border highlight for flagged fields #1|9IjsfckWM9nzJQQp*/
    margin-left: -4px !important;
}

.flagcontainer select {
    border-left: 4px solid #C11C28 !important; /*reftcss|reqform|Left border highlight for flagged fields #2|Q7zTRSUycGj8CEh0*/
}

.flagcontainer .RadEditor, .flagcontainer .dateTimePanel, .flagcontainer .contactPanel, .flagcontainer .optionPanel {
    border-left: 4px solid;
    border-left-color: #C11C28 !important; /*reftcss|reqform|Left border highlight for flagged fields #3|vexq3zE6Ml79B3kt*/
}

*.inputAlert {
    background-color: rgba(238,238,238,0.5) !important; /*reftcss|reqform|Unselected select list highlight background colour|aMZZS8UmqfJ5QYTh*/
    color: #333333 !important; /*reftcss|reqform|Unselected select list highlight text colour|KJlBxs0K69YIexSk*/
}

.normalSelect {
    /* background-color: transparent !important; */  /* NERA EXPERIMENTAL CHANGE */
}
}

/* END: Reqform division labels */
/* START: Button    */

div.rtButton {
    background-color: inherit !important;
}

*.rtButtonInput {
    font-size: 0.9em;
    border-radius: 2px;
    height: 20px;
    border: 1px solid;
    font-family: Arial,"Microsoft Sans Serif" !important;
    border-color: rgba(67,84,196,1); /*reftcss| button|Input button border colour|cK952rQkSNlUI1ns*/
    background-color: rgba(67,84,196,0.75); /*reftcss|button|Input button background colour|XBUwI0xkmCwRQKZ4*/
    color: #FFFFFF; /*reftcss|button|Input button text colour|zlA094hUy0noRpmn*/
    margin-left: 1px;
    margin-right: 1px;
}

    *.rtButtonInput:hover {
        background-color: rgba(67,84,196,1); /*reftcss|button|Input button background colour hover|MtALJqV02H1j85Et*/
    }

.rtButtonLink a {
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    font-size: 0.9em;
    cursor: default;
    border-radius: 2px;
    height: 20px !important;
    border-color: rgba(67,84,196,1); /*reftcss| button|Link button border colour|kjiDgzxkeR45uQq9*/
    background-color: rgba(67,84,196,0.7); /*reftcss|button|Link button background colour|iwmD8q8keFY9lKTj*/
    color: #FFFFFF; /*reftcss|button|Link button text colour|JWv5ok5UKPbP9lKs*/
}

    .rtButtonLink a:hover {
        background-color: rgba(67,84,196,1); /*reftcss|button|Link button background colour hover|gtv0qB4db0u6J0Ah*/
    }


.fontsize-button {
    margin-right: 4px;
    border-color: #E0E0E0;
    border-width: 1px;
}

    .fontsize-button A {
        margin: 3px;
        padding: 3px;
        text-decoration: none;
        border-width: 1px;
        font-size: 0.9em;
        background-color: #F5F5F5; /*reftcss|button|Font size button background colour|zTfhhH1mI0inl0ph*/
        border-style: solid;
        border-color: #E0E0E0; /*reftcss| button|Font size button border colour|rwOxX7W43UODVRj5*/
    }

        .fontsize-button a:hover {
            border-color: rgba(67,84,196,1) !important; /*reftcss| button|Font size button border colour hover|9faJMxsEOkm1Grfp*/
            background-color: rgba(67,84,196,0.7); /*reftcss|button|Font size button background colour hover|lJnOBoYvrUif2kLn*/
            color: #FFFFFF; /*reftcss|button|Font size button text colour hover|eZkcPHbNIUGskMoJ*/
        }


/* Buttons used to expand and contract text areas */

*.xbutton {
    /*padding: 1px;*/
    padding: 2px;
    padding-bottom:13px;
    margin: 2px;
    display: block;
    text-align: center;
    vertical-align: central;
    /*background-position: bottom;*/
    background: transparent;
    border: 1px solid;
    border-color: #555555; /*reftcss| button|Text area size button border colour|KZugER4CkqAf5ANT*/
    color: #333333; /*reftcss| button|Text area size button text colour|wglasPOAEmiCbv43*/
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    border-radius: 3px;
    height: 14px;
    width: 15px;
    font-size: 0.9em;
    font-family: 'Courier New', Courier, monospace;
}

.xbutton:hover {
    border-color: rgba(67,84,196,1) !important; /*reftcss| button|Text area size button border colour hover|W0Px2uNREm4LVXeT*/
    background-color: rgba(67,84,196,0.7); /*reftcss|button|Text area size button background colour hover|0eXrSodc0m6Vns3v*/
    color: #FFFFFF; /*reftcss|button|Text area size button text colour hover|eT7u99vr0v9OehqQ*/
}

/* END: Standard button    */


/* START Deskstat */
/* controls style when cursor is over box */
/* ds1: ON  ds0: OFF */


*.ds0 {
}

*.ds1 {
    background-color: rgba(238,238,238,0.3); /*reftcss|deskstat|Input cell background colour hover|kAroFmUjEmGrYleP*/
}

/* Used to highlight fields that need an input in deskstats */
*.dsAlertCtrl {
    border: 1px solid;
    border-color: #C11C28; /*reftcss|deskstat|Deskstat input alert|yGREMJAhkadx4R9K*/
}

/* dshus: deskstats header used cells */

.dshus {
    background: #E0E0E0; /*reftcss|deskstat|Column header background colour|EoRXYyDykGhUctyM*/
}


*.dsBatchMode tr td {
    border: 1px solid;
    border-color: #E0E0E0; /*reftcss|deskstat|Grid border colour - batch mode|vo05ybbHUSxldIBG*/
}

*.dsLiveMode tr td {
    border: 1px solid;
    border-color: #C0C0C0; /*reftcss|deskstat|Grid border colour - live mode|0P54hjoskovNBJFJ*/
}

/* END Deskstat */
/* START miscellaneous    */

*.selectListSubHeader {
    font-size: 0.9em;
    text-transform: uppercase;
    color: #FFFFFF; /*reftcss|misc|Select list sub header text colour|zFJ6fSqTEuwJAwaP*/
    font-family: Arial, 'Microsoft Sans Serif';
    background-color: #555555; /*reftcss|misc|Select list sub header background colour|QWb9TVw80ao9g6eS*/
    font-style: italic;
    height: 30px;
    font-variant: small-caps;
}

*.tgDateMissed {
    color: #C11C28; /*reftcss|misc|Target date missed text colour|Gh7GN59UEeCw3kjj*/
}

*.tgDateProximate {
    font-weight: bold;
    color: #C11C28; /*reftcss|misc|Target date proximate text colour|38k8WfGUEITmHZND*/
}

*.sfList1 {
    color: #689B3D; /*reftcss|misc|Staff list available text colour|6D3jmANUeWGGi2pi*/
}

*.sfList0 {
    color: #C11C28; /*reftcss|misc|Staff list unavailable text colour|kcUUsDdkKk9Z4BOO*/
    /*font-style: italic;*/
}

.sfList0, .sfList1 {
    background-color: #F5F5F5; /*reftcss|misc|Staff list background colour|kcUUsDdkKk9Z4BO1*/
}

/* used for {more] and {less] links for expanding and contracting long text */

*.viewText A {
    font-size: 0.9em;
    color: #4354C4 !important; /*reftcss|misc|More/Less link text colour|WbA57aTUKHXEx89S*/
    text-decoration: none;
    margin-right: 5px;
}

    *.viewText A:hover {
        text-decoration: underline;
    }


/* Click to view question details */
*.viewTextDots {
    font-size: 0.9em;
    color: #4354C4 !important; /*reftcss|misc|[...] link text colour|rjNyBzddrUaUQlUb*/
    text-decoration: none;
    margin-right: 5px;
}

*.alertText {
    color: #C11C28; /*reftcss|misc|Alert text colour|2LMtknCKdUm6ZI5U*/
}

.allowperm {
    color: #689B3D; /*reftcss|misc|Text colour for allowed functions|oqMGPcLqlUbRRgMB*/
    background-color: #F5F5F5;
}
/*#35630d;*/
.disallowperm {
    color: #C11C28; /*reftcss|misc|Text colour for disallowed functions|dRfBnUpvsEbd8dmY*/
    background-color: #F5F5F5;
}

*.negative {
    color: #C11C28; /*reftcss|misc|Text colour for negative values|idkbKIFj1kaWjg6r*/
}

*.exxml {
    color: #C11C28; /*reftcss|misc|Text colour to highlight tags in XML display|Q9WQGLWdqE6OrDQx*/
}

/* used to highlight controls which have a validation error in grids */

*.gvhc {
    background-color: rgba(238,238,238,0.5); /*reftcss|misc|Background colour to highlight fields in grids|3hV0pnUKZvgzMqUt*/
}

/* disabled */

*.dab {
    color: #333333; /*reftcss|misc|Disabled text colour|Q91WAG0yg9Z4G2RQ*/
}


#overlay {
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}


*.cookie {
    font-style: italic;
}


.borderLess .rwTitle {
    color: #555555 !important; /*reftcss|misc|Sub-window title text colour |g0U16a0m34JpqQvP*/
    font-weight: bold;
}


/* START miscellaneous    */

/* Used for question number when presented as a hyperlink */

*.qno A {
    font-size: 1em;
    color: #C11C28 !important; /*reftcss|misc|Question number text colour|WFI1RF9xkEOwmb4e*/
    text-decoration: none;
}

    *.qno A:hover {
        text-decoration: underline;
    }

/* copyright statement */

*.copyRight {
    font-size: 0.8em;
    color: #4354C4; /*reftcss|misc|Copyright statement text colour|DflpkK5vAESTUNSu*/
    /*margin-right:5px;*/
}

/* Select option styling for standard select lists */
*.selopt {
    font-style: italic;
}


*.pageTitle h1 {
    vertical-align: baseline;
    font-size: 1.0em;
    color: #000001; /*reftcss|misc|Page title text colour|yYKusAoqz0CdOvjq*/
    display: inline;
    font-family: Calibri;
    vertical-align: baseline;
}

.prov200 .pageTitle{

    font-size:1.5em;
}

*.resLink A {
    font-weight: normal;
    font-size: 0.95em;
    color: #C11C28 !important; /*reftcss|misc|Data url text colour|DFss58mI9kCGp1Nv*/
    text-decoration: underline !important;
}

    *.resLink A:hover {
        font-style: normal;
        text-decoration: underline;
    }

IMG.rgimage {
    cursor: pointer;
}

*.xmpTag {
    font-size: 1.1em;
    color: #4354C4; /*reftcss|misc|XMP Tag  text colour|YkbhcQAhb0qfq0Jk*/
    font-family: Verdana, Arial, 'Microsoft Sans Serif';
}

/* START: Class for qprint templates  */

.plainText {
    font-size: 1em;
    font-family: Arial, 'Times New Roman';
}

.headerText {
    font-weight: bold;
    font-size: 1.2em;
    color: #555555; /*reftcss|misc|Qprint header text colour|ZIkWNc7tT0uVwVnM*/
    font-family: Arial, 'Times New Roman';
}

.labelText {
    font-weight: bold;
    font-size: 1em;
    color: #333333; /*reftcss|misc|Qprint label text colour|j1rtgL9jm2s8UcXH*/
    font-family: Arial, 'Times New Roman';
}

.valueText {
    font-size: 1em;
    font-family: Arial, 'Times New Roman';
    color: #333333; /*reftcss|misc|Qprint value text colour|j1rtgLtmkCL8UcXH*/
}

.disclaimer {
    font-size: 0.8em;
    font-family: Arial;
}
/* END: Class for qprint templates  */

/* Critical error displays */

*.appErrorPanel {
    border-style: ridge;
    border-width: 1px;
    padding: 4px;
    font-size: 0.97em;
    margin: 10px;
    background-color: #f2f2f2; /*reftcss|message|Error panel background colour|0Kq9JAZ4kil7WUx1*/
    color: #333333; /*reftcss|message|Error panel text colour|0Kqpo54qkil7WUx1*/
    text-align: left;
}

*.appErrorHead {
    font-weight: bold;
    font-size: 1.4em;
    background-color: #000001; /*reftcss|message|Error panel header background colour|JgULzJEGHlRLhqno*/
    color: #ffffff; /*reftcss|message|Error panel header text colour|okn63JEGHlRLhqno*/
    text-align: center;
    vertical-align: central;
}

/* START Results table */

table.resultsTable {
    width: 100%;
    border: 1px solid #E0E0E0;
}

    table.resultsTable th {
        text-align: left;
        border: 1px solid;
        border-color: #E0E0E0; /*reftcss|table|Results table header border colour|zvIC3kW0itlxGhNo*/
        background-color: #E0E0E0; /*reftcss|table|Results table header background colour|ejRCv2K0CI8Ztdnj*/
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        vertical-align: top;
    }

    table.resultsTable td {
        border-style: solid;
        border-width: 1px;
        border-color: #E0E0E0; /*reftcss|table|Results table cell border colour|Sn144NESp0Ioxnxt*/
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        vertical-align: top;
    }

        table.resultsTable td td {
            border-style: none;
        }

    table.resultsTable tr:nth-child(even) {
        background-color: #FFFFFF; /*reftcss|table|Results table even row background colour|tD5ZRBU2QWOuVxnp*/
    }

    table.resultsTable tr:nth-child(2n+3) {
        background-color: #F5F5F5; /*reftcss|table|Results table odd row background colour|Y1CtmjUaiwkqKqMx*/
    }

    table.resultsTable tr:hover {
        background-color: rgba(238,238,238,0.30) /*reftcss|table|Results table background colour hover|TqySuSUmJgMB2deq*/
    }

    table.resultsTable tr:first-child, table.resultsTable tr:first-child:hover {
    }
/* END Results table */


table.reallocatetable {
    width: 100%;
    border: 0px solid !important;
    margin-bottom: 10px;
}

    table.reallocatetable th {
        border-color: transparent !important;
        background-color: #FFFFFF !important; /*reftcss|misc|Reallocate table header row background colour|GodldDYskuXZWfMg*/
        font-size: 1.0em;
        border-bottom: 1px solid #E0E0E0 !important;/*reftcss|misc|Reallocate table header row bottom border colour|pk0Xly6YEpgMwTsY*/

    }

    table.reallocatetable td {
        border-right: 0px transparent;
        border-left: 0px transparent;
    }


/* START Edit lalyout table */

table.layoutEditTable {
    margin-top: 10px;
    border: 0px solid;
    width: 100%;
}

    table.layoutEditTable th {
        text-align: left;
        background-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #E0E0E0; /*reftcss|table|Layout edit table bottom border colour|Ctqmcnpp9EiRvypA*/
        font-size: 1.05em;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        vertical-align: top;
    }


    table.layoutEditTable td {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        vertical-align: top;
    }

    table.layoutEditTable tr:nth-child(even) {
        background-color: transparent;
    }

    table.layoutEditTable tr:nth-child(2n+3) {
        background-color: transparent;
    }

    table.layoutEditTable tr:hover {
        background-color: rgba(238,238,238,0.30) /*reftcss|table|Layout edit table row background colour hover|72BSegQEyt9C9hl1*/
    }


    /* even rows */

    table.layoutEditTable tr.tblee {
        background-color: #FFFFFF;
    }

    /* odd rows */

    table.layoutEditTable tr.tbleo {
        background-color: #FFFFFF;
    }

/* END Edit lalyout table */

/* START Option List Table */

.tblopl {
    background-color: #F2F2F2; /*reftcss|optionTable|Option table background colour|f1ScqCow0e54E2qs*/
    border: 1px solid;
    border-color: #E0E0E0 !important; /*reftcss|optionTable|Option table border colour|hEKntUrxkm7jK7ZL*/
    border-radius: 3px;
    border-collapse: separate;
}

    .tblopl th {
        text-align: left;
        padding-left: 2px;
        padding-bottom: 4px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: transparent;
    }

    .tblopl td {
        padding: 2px 3px 2px 3px;
        vertical-align: text-bottom;
    }

        .tblopl td span {
            font-size: 1.05em !important;

        }

        .tblopl td div{
            margin-right:3px;
        }
.selradio {
}

    .selradio span {
        color: #C11C28; /*reftcss|optionTable|Option table selected item text colour|TLVUFI70uHV9ylJF*/
    }

*.hlradio {
}

.hlradio span {
    color: #C11C28; /*reftcss|optionTable|Option table selected item text colour hover|zrRrLBAUy6o5k4L8*/
}

.tbloplt {
    border: 1px solid;
    border-color: #555555; /*reftcss|optionTable|Option table header border colour|yJvzrnJUeUc4YXYk*/
    padding: 1px 0px 1px 0px;
    background-color: #555555; /*reftcss|optionTable|Option table  header background colour|7rcht3nEy6cfHmjT*/
    text-align: center;
    color: #FFFFFF; /*reftcss|optionTable|Option table header text colour|yJrmrpdUH1BPzylS*/
    margin-bottom: 2px;
}

.tbloptdis{

    color:silver !important;
    font-weight:normal !important;
}

/* END Option List Table */

/* Security Table */
/* -------------- */

/* User for password in prefs and login reft998 */
table.tbllogin {
    background-color: #f2f2f2; /*reftcss|authorisation|Login table background colour|bp5Q2MbEmOhHgBCz*/
    border-radius: 5px;
    border-collapse: separate; /* NB Must be set to separate for border radius to work */
    border-width: 2px !important;
    border-color: #e0e0e0 !important; /*reftcss|authorisation|Login table border colour|fAV3tMfM9kOXvrMC*/
    border-style: solid !important;
    min-width: 320px !important;
    max-width:320px;
    margin: auto;
}

table.tbllogin hr {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom: solid 0px;
    border-color: #e0e0e0 !important; /*reftcss|authorisation|Login table divider colour|fAV3t6v5c3sXvrMC*/
}

    table.tbllogin span {
        color: #555555 !important; /*reftcss|authorisation|Login table label text colour|fAVong5qc3sXvrMC*/
        font-weight: bold;
        margin-right: 10px;
    }

    table.tbllogin input{

        font-size:1.2em;

    }

    table.tbllogin th {
        padding: 15px !important;
        text-align: center;
        background-color: #f2f2f2; /*reftcss|authorisation|Login table header background colour|8Z64sx6YA0u6r51s*/
        font-family: Arial, Helvetica, sans-serif;
        color: #555555; /*reftcss|authorisation|Login table header text colour|bsXXRFRhMEmoIEvP*/
        font-weight: bold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 1.8em;
        padding-bottom: 27px !important;

    }

    table.tbllogin td {
        vertical-align: text-bottom;
        text-align: right;
        padding-left:20px;
        padding-right:40px;
        padding-top:4px;
        padding-bottom:4px;
    }

table.password {
    background-color: #f2f2f2; 
    border-radius: 4px;
    border-collapse: separate;
    border-width: 1px !important;
    border-color: #e0e0e0 !important;
    border-style: solid !important;
}

    table.password th {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 5px !important;
        padding-bottom:12px !important; 
        padding-top:10px !important;
    }

    table.password td {
     vertical-align: text-bottom;
     text-align: right;
     padding-right:10px;
     padding-top:5px;
     padding-bottom:10px;
    }

/* Summary Table */
/* used for question counts in reft400 */

.countsTable {
    width: 100%;
    margin-bottom: 8px;
}

    .countsTable th {
        border-bottom: 1px solid #E0E0E0; /*reftcss|maintile|Counts table header underline colour|k8ulk9h7d4VOMmX9*/
        padding: 1px 1px 1px 1px;
    }

    .countsTable td {
        padding: 1px 1px 1px 1px;
        vertical-align: text-bottom;
    }


/* Highlight selected row in gridview */

table.tbltr tr.gvsr {
    /*background-color: #E0E0E0;*/
}

/* history display */

*.histcntr {
    width: 100%;
    border: 0px solid;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.hyline /* history tab line */ {
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Message area */

*.msgAreaContainer {
    /*margin-bottom:10px;*/

    background-color: #F5F5F5 /*reftcss|message|Message area background colour|tHoaVzn70KBOicE3*/
}

*.msgAreaInfo {
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 10px solid;
    border-left-color: #555555; /*reftcss|message|Message area, Type: information, left border colour|I3vXt3mMUmk3Q53y*/
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

*.msgAreaInstruction {
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px solid;
    border-left-color: #4354C4; /*reftcss|message|Message area, Type: instruction, left border colour|RBeBnIUmUewXRm5D*/
    border-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

*.msgAreaValidation {
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px solid;
    border-left-color: #C11C28; /*reftcss|message|Message area, Type: validation, left border colour|rjqGUFykCcXahtH7*/
    border-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}


*.msgAreaSuccess {
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px solid;
    border-left-color: #689B3D; /*reftcss|message|Message area, Type: success, left border colour|rjqGUFoncewahtH7*/
    border-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

*.msgAreaAlert {
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px solid;
    border-left-color: #E7A614; /*reftcss|message|Message area, Type: alert, left border colour|WOxGzdDUaMX23vTH*/
    border-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}

*.msgAreaQsumm {
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 10px solid;
    border-left-color: #555555; /*reftcss|message|Message area, Type: question summary, left border colour|JP5jAIm8U6MHhJlP*/
    border-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: transparent;
}


/* START Classes used to display email content in reft601 */

#emsrchdr {
    border: 1px solid;
    border-color: #E0E0E0; /*reftcss|misc|Email display header border colour|tn1Zmvta0G4lYydJ*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background-color: #F5F5F5; /*reftcss|misc|Email display header background  colour|7EEKwO4JUvMh3H4T*/
    padding: 5px;
}

#emsrcatts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}


*.emsTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 5px;
}

*.frame {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    width: 100%;
    border: 1px solid #E0E0E0;
}
/* END Classes used to display email content in reft601 */

.logoffTable {
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF; /*reftcss|authorisation|Logoff panel background  colour|JcNT4hkSPmr3dylT*/
}

    .logoffTable th {
        padding: 2px 3px 3px 2px;
        text-align: center;
        background-color: #C11C28; /*reftcss|authorisation|Logoff panel header background  colour|9Jo006keTrbqty0s*/
        font-family: Arial, Helvetica, sans-serif !important;
        color: #FFFFFF !important; /*reftcss|authorisation|Logoff panel header text  colour|8Of6jG0SsKe0fuBH*/
        font-weight: bold !important;
    }
/* Used in logoff panel */

*.faintLink {
    color: #E0E0E0;
}

    *.faintLink A {
        color: #555555;
        text-decoration: none;
        font-style: italic;
    }

        *.faintLink A:hover {
            font-style: italic;
            text-decoration: underline;
        }


/* Quick Text */

*.qtlabel {
    font-weight: bold;
    color: #333333; /*reftcss|quickText|Quicktext name label text colour|QEmXdE8k6vN2Q0bd*/
    margin-bottom: 3px;
}

*.qtclause {
    margin-top: 0px;
    font-size: 0.97em;
    color: #333333; /*reftcss|quickText|Quicktext clause text colour|TPRcZ9Zk6q91BInd*/
    font-weight: normal;
    border-bottom: 1px solid #E0E0E0; /*reftcss|quickText|Quicktext clause bottom border colour|2ZMCuYGk6Dka9IGk*/
    padding-bottom: 3px;
    padding-right: 3px;
    margin-bottom: 3px;
}

*.qtcontrols {
    background-color: #F5F5F5; /*reftcss|quickText|Quicktext control area background colour|QSAaaVUWWvhraUud*/
    margin-bottom: 8px;
    border-radius: 5px;
    width: 100% !important;
    height: 40px;
}

*.qtsearch {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 5px;
    display: block;
    padding: 3px;
    border: 1px solid transparent;
}

    *.qtsearch:hover {
        background-color: rgba(67,84,196,0.1); /*reftcss|quickText|Search symbol background colour hover |yzJOlbd0lqE0jvuq*/
        border: 1px solid rgba(67,84,196,0.25); /*reftcss|quickText|Search symbol border colour hover |yzJk8be4lqE0jvuq*/
    }

    *.qtsearch A {
        text-decoration: none;
    }

        *.qtsearch A:hover {
        }


/* START Client search */

.qera {
    /* question era - client search template */
    clear: both;
    margin-top: 1.5rem;
    font-size: 0.6rem;
    font-weight: bold;
}
/* These styles used for the display of search results in reft290 */

*.clsrchdb {
    border: 1px solid;
    border-color: transparent;
    background-color: rgba(67,84,196,0.75); /*reftcss|clientSearch|Database type DDL background color|AY2wz3w6kWqrIUbU*/
    color: #FFFFFF; /*reftcss|clientSearch|Database type DDL text color|aqRsRgGPkeDxuW1I*/
    height: 26px;
}

*.clsrchinput {
    border: 1px solid;
    border-color: #E0E0E0; /*reftcss|clientSearch|Search input box border colour|w6eYMsp7UrCVZ1WS*/
    border-left: 1px solid transparent !important;
    height: 22px;
    font-size: 1.1em;
    color: #333333; /*reftcss|clientSearch|Search input box text colour|fNZmqtGy02oaKYvr*/
    background-color: transparent;
    padding-left: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
}

*.clsearchfldind {
    font-size: 1.2em;
    color: #C11C28; /*reftcss|clientSearch|KB/FAQ search results field indicator letter text colour|0igc20l6b4sHFWAA*/
    font-weight: bold;
}


*.clsrchbutton {
    height: 26px;
    margin-right: 10px !important;
}


/* END Client search */

/* Search */

*.searchWord {
    color: #C11C28; /*reftcss|search|Search word highlight text colour|rYPqCiTj6EaYZznu*/
    background-color: #EEEEEE; /*reftcss|search|Search word highlight background colour|vMwE8zSGKk6K7SAn*/
}

/* Caclulated score for a word search - used for debug display only */
*.relevancy {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: Navy;
    font-size: 0.9em;
}

/* Search criterial label standard*/
*.srchLabelStandard {
    color: #333333 !important; /*reftcss|search|Search criteria field label text colour|qseBTQOsL0yZ9kM2*/
}

/* Search criteria row */
*.srchCriteriaRow {
    height: 21px;
}

/* Search criteria set (Word, General Question etc)  */
*.srchCriteriaSet {
    border: 1px solid;
    border-color: #E0E0E0; /*reftcss|search|Search criteria set border colour|2sMKaQik67SANrDr*/
    margin: 3px;
    padding: 2px 2px 8px 6px;
    background-color: #FFFFFF !important; /*reftcss|search|Search criteria set background colour|YNQN4TBEOzfGWBtY*/
    clear: left;
    border-radius: 8px;
}

/* continued label */

*.srchContinued {
    text-align: right;
    margin-bottom: 8px;
    font-style: italic;
    padding-right: 10px;
    font-size: 0.85em;
}

/* Search criteria set Title */

*.srchCriteriaTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #C11C28; /*reftcss|search|Search criteria title text colour|DRKogplUWIhAGxp1*/
    margin-top: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: transparent;
}

/* Search criteria control */
*.srchCtrl {
    padding-left: 3px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: transparent;
}

/* Search criteria controld with value selected */

*.srchCtrlDef {
    border-left-color: #4354C4 !important; /*reftcss|search|Search control value is set flag left border colour|nE5PGhEC7t11ISYI*/
    border-left-style: solid;
    border-left-width: 2px;
}

/* default item in context menu */

*.defContextMenuItem {
    font-weight: bold;
}

/* Symbol before links in control line */
*.controlLinkSymbol img {
    margin-right: 5px;
}

/* Items selected for a check box list */
*.cblSelected {
    font-style: italic;
    font-size: 0.85em;
    word-break: normal;
    word-wrap: break-word; /* width: 200px; */
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: 2px;
    color: #4354C4; /*reftcss|search|Search criteria control - selected checkbox items display text colour|TEJ9eGCkKCukqKRn*/
    padding-bottom: 0px;
}


/* START Home page tiles */
.tilecontent {
    background-color: #FFFFFF; /*reftcss|maintile|Home tile background colour|k8ulVMWE2JVOMmX9*/
    border: 1px solid;
    border-color: #E0E0E0; /*reftcss|maintile|Home tile border colour|DZhSHtzkOc41ntf8*/
    margin: 9px;
    border-radius: 10px;
}

.tilesmall {
    min-height: 175px;
}

.tilelarge {
    min-height: 371px;
}

.tileHead {
    color: #555555 !important; /*reftcss|maintile|Home tile header text colour|7eyBxLh0efiHccMs*/
    background-color: transparent;
    font-size: 1.1em;
    font-weight: bold;
    height: 22px;
    padding-top: 10px;
    vertical-align: middle;
    padding-left: 9px;
    margin-bottom: 8px;
}

.summChartLabels td {
    /* This year, Last Year etc */
    color: #555555; /*reftcss|maintile|Summary chart legend colour|7eyBxLkb3dazccMs*/
}


.summChartEntry tr:nth-child(2) td {
    /* Text value */

    color: #4354C4; /*reftcss|maintile|Summary chart label colour|7elohy633dazccMs*/
}

.summChartEntry tr:nth-child(3) td {
    /* Column chart column backround */
    background-color: #4354C4; /*reftcss|maintile|Summary chart column colour|7eylnbde */
}


.tileSymbol {
    display: none
}

.tileImage {
    display: inline-block;
}

.tileTitle {
    padding-left: 8px;
}

.tilebody {
    padding: 10px;
}

*.tileover {
    border: 1px solid;
    border-color: rgba(67,84,196,0.75); /*reftcss|maintile|Home tile border colour hover|hleLaOo2UEyEajRn*/
}


/* END Home page tiles */

div.RadGrid .rgAltRow, div.RadGrid .rgAltRow td {
    background: #F5F5F5; /*reftcss|misc|Paged grid odd row background colour|4djpMIE2R9cLRTPj*/
}

.resLab {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 4px;
}

.resText {
    width: 80% !important;
}

.resCheck {
    margin-right: 13px;
}

.resCont {
    padding-bottom: 4px;
    border: 1px solid transparent;
}

.resMaster {
}

.resCell div {
}

    .resCell div:hover {
        background-color: rgba(238,238,238,0.25); /*reftcss|misc|Resource entry panel background colour hover|gayqpGEt0m71DJHG*/
        border: 1px solid;
        border-color: #E0E0E0; /*reftcss|misc|Resource entry panel border colour hover|HRgNRLIJEK7ctbdp*/
    }

.resCell:hover {
    font-weight: bold;
}

.openinsubwinsym {
    margin-left: 3px;
}

*.openinsubwin A {
    font-size: 1em;
    text-decoration: none;
    margin-left: 5px;
    font-weight: normal;
}

.openinsubwin :hover {
    background-color: rgba(67,84,196,0.25) !important; /*reftcss|menu|Open in a sub-window background colour hover|LDuNxgmOkonnAaEo*/
}




/* Action Bar */

#uimnu300 .rmText a.rmLink, #uimnu300 .rmText img {
    display: inline-block !important;
}

#abar {
    background-color: #F5F5F5; /*reftcss|menu|Action bar background colour|GkLJQZ0EaBWd9HCR*/
    font-size: 1em;
    width: 100%;
    padding-bottom: 28px;
}

*.abarph {
    font: normal 1em/1.6em Arial;
    color: transparent;
}

#abar table {
}

#abar td {
}

*.abarbox {
    border: 1px solid transparent;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 1em;
}

/* MENU BAR */

/* https://www.telerik.com/support/kb/aspnet-ajax/menu/details/hide-icon-column-in-radmenu*/

*.mbarph {
    font: normal 1em/1.6em;
    font-family: 'Segoe UI',Arial;
    color: inherit;
}


#mbar {
    background-color: #F5F5F5; /*reftcss|menu|Menu bar background colour|k3KHX3UWw5o42SWD*/
    font-size: 1em !important;
    padding-top: 10px;
    width: 100%;
}

div#mbar.clientProvince {
    border-bottom: 1px solid #E0E0E0; /*reftcss|menu|Menu bar background colour|8LEPUukm43MFFFpx*/
}







/* Position the menu item so that the menu image column is not used by moving 24px to left */
/* The reftMenuLinkContainer class is used for menu items with a open in a sub-window link */
/* The other is used for standard menu items */
/* set the rmLeftImage display to none so that any images in the menu item are not displayed */

.RadMenu_RefTracker .reftMenuLinkContainer {
    margin: 0 0 0 -24px !important;
}

.RadMenu_RefTracker .rmGroup .rmLink .rmText {
    margin: 0 0 0 -24px !important;
}

.RadMenu_RefTracker .rmLeftImage {
    display: none;
}

.RadMenu_RefTracker .rmGroup .rmItem {
    width: auto !important;
}

/* Both action and menu */
.RadMenu ul.rmRootGroup {
    display: block; /*   !important; */
}

.RadMenu .rmVertical .rmLink, .RadMenu .rmHorizontal .rmVertical .rmLink {
    display: block !important;
}

.RadMenu ul.rmActive, .RadMenu ul.rmRootGroup, .RadMenu.RadMenu_RefTracker {
    outline: none;
}


.RadMenu {
}

/* Horizontal menu - used for Chart Links in workload overview of reft400 */

.refthzmenu li a {
    color: #4354C4; /*reftcss|menu|Horizontal menu item link colour|QJHgx0BfxUqHFWAA*/
}

    .refthzmenu li a:hover {
        text-decoration: underline;
    }

.reftvrmenu li a {
    color: #4354C4; /*reftcss|menu|Vertical menu item link colour|QJHgx0Bfhew321AA*/
}

.reftvrmenu {
    margin-top: 20px;
}


    .reftvrmenu li a:hover {
        text-decoration: underline;
    }

    .reftvrmenu img {
        margin-right: 6px;
    }

    .reftvrmenu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.refthzmenu li {
    float: left;
}

.reftvrmenu li a {
    padding-right: 10px;
    text-decoration: none;
}

.jtotCombined{

    font-weight:bold;
    font-style:italic;
}

.jtotPrimary{
    font-weight:bold;
}

.jtotSub{
    font-weight:normal;
}

.jspecial, .jspecial select, .jspecial input {
    color: #C11C28; /*reftcss|misc|Highlight colour for journal payment values|QJ98nd4wmew321AA*/
}

.jentryTable{
    margin-top:0px !important;
}

    .jentryTable .reqfldimg {
        vertical-align: central;
        margin-bottom: 3px;
        margin-left: 2px;
    }

.jtotheader .rtsflab {
    margin-right: 1px;
}

.jtotheader .rtsftxt {
    margin-right: 8px;
}



 .jtotsublabel .jtotPrimary{
    font-weight:normal !important;

}


.jtotsublabel .rtsflab {
    margin-right: 1px;
    margin-left: 5px;
    font-weight: normal !important;
}

.jtotsublabel .rtsftxt {
    margin-right: 6px;
    font-weight: normal !important;
}



@media screen and (max-width: 768px)
{
    table.tbllogin {
        max-width: 800px;
        width: 80%;
    }
    table.tbllogin th {
        font-size: 3rem;
        padding-bottom: 40px;
    }
    table.tbllogin td {
        padding: 4px 10%;
    }

    #pgriltpwrow span, #pgriltidrow span{
        font-size: 2rem !important;
    }
    #pgrilthrow span {
        margin-right: 0;
    }

    table.tbllogin input {
        font-size: 2rem;
    }

    /*#pgciident, #pgcipword {
        width:70% ;
    }*/

    #pgriltbtrow input {
        font-size: 2rem !important;
        height: auto !important;
        margin-top: 20px !important;
        width: 150px !important;
    }

    #pgriltrmrow span {
        font-size: 1.5rem !important;
    }

    #pgriltrmrow #uicirmbme {
        font-size: 2.5rem;
    }

    #pgrirmnr span {
        font-size: 2rem;
    }
}

@media screen and (max-device-width:1024px)
{

    #pgobman table#errorTable tr{
        display: block;
    }

    #pgobman table#errorTable td {
        clear: left;
        display: block;
        font-size: 1.5rem !important;
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
        width: 75% !important;
    }

    table.tbllogin {
        max-width: 600px;
        width: 85%;
    }
    table.tbllogin th {
        font-size: 2rem;
        padding-bottom: 20px !important;
    }
    #pgriltpwrow span, #pgriltidrow span{
        font-size: 1.5rem !important;
        margin-right: 20px !important;
    }
    #pgrilthrow span {
        margin-right: 0;
    }

    table.tbllogin td {
        padding: 8px 10%;
    }

    #pgriltdivrow td {
        padding: 0;
    }

    table.tbllogin input {
        font-size: 1.5rem;
    }

    /*#pgciident, #pgcipword {
        width:70% 
    }*/

    #pgriltbtrow input {
        font-size: 1.5rem !important;
        height: auto !important;
        margin: 10px auto !important;
        padding: 10px;
        text-transform: uppercase;
        width: 100% !important;
    }

    #pgriltrmrow span {
        font-size: 1.5rem !important;
        margin-right: 25px;
    }

    #pgriltrmrow #uicirmbme {
        /* font-size: 2.5rem; */
        transform: scale(2);
    }

    #pgrirmnr span {
        font-size: 1.5rem;
    }
}

@media screen and (max-device-width:768px)
{
    table.tbllogin {
        max-width: 600px;
        width: 85%;
    }
    table.tbllogin th {
        font-size: 3rem;
        padding-bottom: 20px !important;
    }
    table.tbllogin td {
        padding: 6px 10%;
    }

    #pgriltpwrow span, #pgriltidrow span{
        font-size: 1.5rem !important;
        margin-right: 20px !important;
    }
    #pgrilthrow span {
        margin-right: 0;
    }

    table.tbllogin input {
        font-size: 1.5rem;
    }

    /*#pgciident, #pgcipword {
        width:70% ;
    }*/

    #pgriltbtrow input {
        font-size: 1.5rem !important;
        height: auto !important;
        margin: 10px auto !important;
        padding: 10px;
        text-transform: uppercase;
        width: 100% !important;
    }

    #pgriltrmrow span {
        font-size: 1.5rem !important;
        margin-right: 25px;
    }

    #pgriltrmrow #uicirmbme {
        /* font-size: 2.5rem; */
        transform: scale(2);
    }

    #pgrirmnr span {
        font-size: 1rem;
    }
}

@media screen and (max-device-width: 568px)
{
    #pgriltrmrow span {
        font-size: 1rem !important;
    }
}

@media screen and (max-device-width: 568px)
{
    table.tbllogin {
        max-width: 600px;
        width: 85%;
    }
    table.tbllogin th {
        font-size: 3rem;
        padding-bottom: 20px !important;
    }
    table.tbllogin td {
        padding: 12px 10%;
    }

    #pgriltpwrow span, #pgriltidrow span{
        font-size: 2.5rem !important;
        margin-right: 20px !important;
    }
    #pgrilthrow span {
        margin-right: 0;
    }

    table.tbllogin input {
        font-size: 2.5rem;
    }

    #pgciident, #pgcipword {
        width:50% !important;
    }

    #pgriltbtrow input {
        font-size: 2rem !important;
        height: auto !important;
        margin: 10px auto !important;
        padding: 20px;
        text-transform: uppercase;
        width: 100% !important;
    }

    #pgriltrmrow span {
        font-size: 2rem !important;
        margin-right: 25px;
    }

    #pgriltrmrow #uicirmbme {
        /* font-size: 2.5rem; */
        transform: scale(3);
    }

    #pgrirmnr span {
        font-size: 2rem;
    }
}